<h1>Welcome to Shaylah's Potions!</h1>
<h2>Your source for the magical, wonderful, mind numbing, hangover elixir</h2>
<%= image_tag("potion1.jpg", class: "img-responsive my-image") %>
<p>Welcome! The date and time is <%= Time.now %> Sometimes, the solution to too much alcohol, is a little something something with a splash of what ales ya!</p>
